/build
/python_package/holocam/build/
/python_package/holocam/dist/
/python_package/holocam/holocam.egg-info/
/python_package/holocam/holocam/__pycache__
/python_package/holocam/holo_cam.h
/python_package/holocam/holo_cam.dll
